<h1>Sign IN Page</h1>

<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Your Email ID" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" value="Sign In">
</form>